* text=auto
*.cpp text
*.h text
*.hpp text
*.cs text
*.usf text
*.ush text
*.ini text
*.uproject text
*.uplugin text
*.py text
*.ps1 text
*.json text
*.md text
*.uasset binary
*.umap binary
*.png binary
*.tga binary
*.dds binary
*.exr binary
